.container-fluid, footer.navbar-inverse {
  background-color: rgba(35, 63, 107, 0.5);
  color: white;
}
.image-masthead .background-container-gradient {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5));
}
.site-footer {
  height: 80px;
  position: fixed;
  padding: 0px;
}
footer.navbar p, .image-masthead .navbar .navbar-nav a {
  color: white;
}

// Buttons
a.btn-primary, button.btn-primary,  {
  background-color: #D9853B;
  border-color: #D9853B;
}
a.btn-primary:hover, button.btn-primary:hover {
  color: white;
  background-color: rgb(237, 193, 154);
  border-color: rgb(237, 193, 154);
}

// Body links
.nav-tabs > li > a {
  color: #D9853B;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(217, 133, 59, 0.4);
  color: white;
}

a.dropdown-toggle .open {
  background-color: red;
  color: red;
}



// Body button
.btn-default {
  color: #DF8C3E;
}
.btn-default:hover {
  color: white;
  background-color: rgb(237, 193, 154);
}






// .navbar-nav a:hover, .image-masthead .navbar .navbar-nav a:focus {
//   background-color: rgba(185, 28, 28, 0.85);
// }
//
//




// footer.navbar-inverse {
//   background-color: rgb(185, 28, 28);
// }
//
// .image-masthead .background-container-gradient {
//   position: absolute;
//   left: 0;
//   right: 0;
//   display:
//   width: auto;
//   height: 100%;
//   background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
//   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8NCQ9sqNwIRDOjejh5-7LkAnegTQbTNW0PR2Ppo_EU7Bbh-m_');
//   background-size: cover;
// }
// #search-field-header {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }







// Background color and image options
// .image-masthead .background-container-gradient {
//   // background-image: none;
//   background-color: black;
//   background-position: bottom;
//   background-size: cover;
//   background-image: url('https://919marketing.com/wp-content/uploads/2017/12/banner-background-11001.jpeg')
// }
